@{
    ViewData["Title"] = "Home Page";
}

<div class="HomeContent">
    <p>Speech To Text Transcription</p>
    <div class="SubHomeContent">
        <p>1.Google Cloud Service API</p>
        <p>2.NET Platform</p>
        <p>3.Static Page</p>
        <p>4.Other Details in GCP Page</p>
    </div>
   
</div>
