@{
    ViewData["Title"] = "Privacy Policy";
}

<link href="~/css/site.css" rel="stylesheet" />

<div class="PrivacyContent">

<h4>@ViewData["Title"]</h4>
<p>Use this page to detail your site's privacy policy</p>

</div>
