html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*without popup*/
/*.containerdynamic-border {*/
    /*display: inline-block;*/
    /*border: 2px solid #ffc107;
    padding: 10px;*/
    /*max-width: 100%;*/
    /*max-width: 47%;
    box-sizing: border-box;
}*/

#responseModal {
    display: none;
    /*border: 2px solid #ffc107;*/
    padding: 10px;
    max-width: 100%;
    /*max-width: 47%;*/
    /*box-sizing: border-box;*/
}

/*#Response {
    display: none;
}*/

.MicContent p {
    font-size: 20px;
    text-align: left;
    /*margin-top: 346px;
    margin-right: 112px;*/
}

.microphone {
    font-size: 24px;
    line-height: 24px;
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    /*text-align: center;
    border: 1px solid #ccc; 
    border-radius: 50%; */
}

#AIBackgroundImage {
    background-image: url('../images/STT2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.navbar.navbar-expand-sm.navbar-toggleable-sm.navbar-light {
    background-color: transparent; 
    border-bottom: none; 
    box-shadow: none; 
}

.footercontent {
    justify-content: start;
    margin-left:20px;
}

#fontanchor {
    color: #ffc107;
  /* font-weight: bold;*/
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    margin-left:3px;
}

#MiddleContent {
    margin-left: 20px;
    margin-top:50px;
}

.PrivacyContent {
    text-align:left;
}

.HomeContent p {
    text-align: left;
    font-size:25px;
    margin-bottom:30px;
    margin-top:60px;
}

.SubHomeContent p {
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
}

@media (min-width: 576px) {
    #PopupControl {
        max-width: 1137px;
        margin-left: 290px;
        margin-top: 50px;
    }
}

.modal-content {
    background-color: #f5f5f5;
    border-radius: 10px;
}

.modal-header {
    background-color: goldenrod;
    color: #fff;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    padding: 20px;
    color: black;
    text-align: justify;
}